{
  "plugins": ["@emotion", ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]],
  "presets": [
    [
      "next/babel",
      {
        "@babel/preset-env": {},
        "@babel/preset-react": { "runtime": "automatic" },
        "@babel/preset-typescript": {}
      }
    ]
  ]
}
